body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 246, 234);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-link {
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.header-link:hover {
    /* background-color: aliceblue; */
    background-color: rgb(255, 192, 109);
    color: white;
    scale: 1.1;
    transition: 0.3s;
}

.header {
    display: flex;
    background-color: rgb(255, 224, 183);
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    position: fixed; z-index: 1;
    width: 100%;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
}

.footer {
    display: flex;
    align-items: center;
    background-color: rgb(252, 239, 222);
    position: fixed;
    height: 50px;
    bottom: 0;
}

.menu-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-text {
    display: flex;
    align-self: center;
    flex: 1.5;
}

.home-images {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    width: 100%;
    align-items: center;
}

.image-container {
    display: flex;
    width: 100%;
}

.image-container.top {
    justify-content: center;
    align-items: end;
    margin-left: 100px;
}

.image-container.middle {
    justify-content: left;
    align-items: end;
    margin-left: 200px;
}

.image-container.bottom {
    justify-content: end;
    align-items: end;
    margin-right: 150px;
}

.overlay-home {
    position: absolute;
    color: white;
    /* font-size: 110px; */
    font-size: 8vw;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 10px;
}

.home-image {
    display: flex;
    max-width: 60%;
    width: 1200px;
    border-radius: 10px;
    margin: 10px;
}

.summary {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.season-header {
    font-size: 25px;
    align-self: center;
}

.inline-link {
    color: blue;
    text-decoration: underline;
}

.season-links, .season-activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season-activity-container {
    position: relative;
    min-height: 100vh;
}

.nav-link-container {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.nav-link {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-decoration: none;
    transition: 0.3s;
    background-color: rgb(255, 192, 109);
    color: white;
    padding: 5px;
    border-radius: 6px;
}

.nav-link:hover {
    scale: 1.1;
    transition: 0.3s;
}

.season-activity-container {
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 80px;
}

.price-image, .activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: end;
}

.overlay {
    position: absolute;
    color: white;
    font-size: 60px;
    /* text-shadow: 0 0 4px black; */
}

.landing-image {
    height: auto;
    max-height: 500px;
    max-width: 500px;
    border-radius: 100px;
    flex: 1;
}

.activity-name, .season-ul {
    margin: 20px;
}

.activity-header {
    padding-top: 70px;
}

h4 {
    padding-top: 30px;
}

#summer-adventures-blurb {
    text-align: center;
}