body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-link {
    padding: 15px;
}

.header-link:hover {
    background-color: aliceblue;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: rgb(255, 224, 183);
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.summary {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.season-header {
    font-size: 25px;
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
}

.inline-link {
    color: blue;
    text-decoration: underline;
}

.season-links, .season-activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season-activity-container {
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 80px;
}

.price-image, .activity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.landing-image {
    height: auto;
    max-height: 400px;
    max-width: 400px;
    border-radius: 200px;
    flex: 1;
}

.activity-name, .season-ul {
    margin: 20px;
}